<%- include('../partials/head'); %>

  <body>
    <%- include('../partials/header'); %>

      <div class="border-top text-center "></div>
      <main>
        <div class="container w-75 bg-light">
          <div class="row center p-5 m-5 text-center">
            <div class="col">
              <h4>Dépense global du groupe <strong>
                  <%= liste.nom_groupe %> :
                </strong></h4>
              <h1>
                <%= totalDepense %> €
              </h1>
              <h4><a href="">Egaliser les dépenses</a></h4>
            </div>
          </div>
        </div>

        <div class="scrollable-segment">
          <%- include('listeTransaction.ejs', {listeTransaction: liste, session: session}) %>
        </div>

        <div class="container">
          <div class="row">
            <button class="btn col m-5 p-3 bg-secondary text-center" data-bs-toggle="modal"
              data-bs-target="#staticNewTransac">
              Nouvelle transaction
            </button>
            <button class="btn col m-5 p-3  bg-secondary text-center" data-bs-toggle="modal"
              data-bs-target="#staticNewMembre">
              Ajouter des membres
            </button>
            <% if (liste.owner==session.userid) { %>
              <button class="btn col m-5 p-3 bg-secondary text-center" data-bs-toggle="modal"
                data-bs-target="#staticGroupe">
                Gérer la cagnotte
              </button>
              <% } %>
          </div>
        </div>
        </div>
        <div class="m-5 p-3 border-top text-center "></div>

        <div class="modal fade" id="staticNewTransac" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticNewTransacLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticNewTransacLabel">Nouvelle transaction</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/update" method="post">
                  <input type="hidden" name="ref" value="add_transaction">
                  <div class="row">
                    <!-- Colonne Montant -->
                    <div class="col-md-3">
                      <label for="montant" class="form-label">Montant</label>
                      <input type="text" class="form-control" name="montant" id="montant" placeholder="Montant"
                        required>
                    </div>

                    <!-- Colonne Date -->
                    <div class="col-md-3">
                      <label for="date" class="form-label">Date</label>
                      <input type="date" class="form-control" name="date" id="date" required>
                    </div>

                    <!-- Colonne Créditeur -->
                    <div class="col-md-3">
                      <label for="crediteur" class="form-label">Créditeur</label>
                      <select class="form-select" name="crediteur" id="crediteur" required>
                        <option selected disabled>Choisissez un créditeur</option>
                        <% listeMembres.forEach(element=> { %>
                          <option value="<%= element.username %>">
                            <%= element.username %>
                          </option>
                          <% }) %>
                      </select>
                    </div>

                    <!-- Colonne Description -->
                    <div class="col-md-10">
                      <label for="description" class="form-label">Description</label>
                      <input type="text" class="form-control" name="description" id="description"
                        placeholder="Description" required>
                    </div>
                  </div>

                  <!-- Bouton de soumission -->
                  <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
                  <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="staticNewMembre" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticNewMembreLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticNewMembreLabel">Ajouter un membre</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/update" method="post">
                  <input type="hidden" name="ref" value="add_membre">
                  <div class="col">
                    <label for="crediteur" class="form-label">Choisissez le nouveau menbre parmi vos amis</label>
                    <select class="form-select" name="membre" id="membre" required>
                      <option selected disabled>Amis</option>
                      <% listeAmis.forEach(username=> { %>
                        <option value="<%= username %>">
                          <%= username %>
                        </option>
                        <% }) %>
                    </select>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
              <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Close</button>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="staticGroupe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticGroupe" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticGroupe">Gestion du groupe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <!-- Formulaire pour le nom du groupe -->
                <form action="/update" method="post" class="row">
                  <input type="hidden" name="ref" value="update_nom_groupe">
                  <div class="col-md-12">
                    <label for="nom_groupe" class="form-label">Nom du groupe</label>
                    <input type="text" class="form-control" name="nom_groupe" id="montant" value="<%= liste.nom_groupe %>"
                      required>
                  </div>
                  <div class="col-md-12 mt-3 text-end">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                  </div>
                </form>

                <!-- Formulaire pour la liste des membres -->
                <form action="/update" method="post" class="row mt-3">
                  <input type="hidden" name="ref" value="delete_membres">
                  <div class="col-md-12">
                    <label for="date" class="form-label">Liste des membres :</label>
                    <div class="scrollable-members" style="height: 150px; overflow: auto;">
                      <% listeMembres.forEach(element=> { %>
                        <div class="row">
                          <div class="col-md-6">
                            <h5>
                              <%= element.username %>
                            </h5>
                          </div>
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-danger" name="username" value="<%= element.username %>">Retirer du
                              groupe</button>
                          </div>
                        </div>
                        <div class="border-top m-1 text-center "></div>
                        <% }) %>
                    </div>
                  </div>
                </form>

                <!-- Formulaire pour changer le propriétaire du groupe -->
                <form action="/update" method="post" class="row mt-3">
                  <input type="hidden" name="ref" value="changer_proprietaire_groupe">
                  <div class="col-md-12">
                    <label for="crediteur" class="form-label">Changer le propriétaire du groupe</label>
                    <select class="form-select" name="new_owner" id="owner" required>
                      <option selected disabled>
                        <%= session.username%>
                      </option>
                      <% listeMembres.forEach(element=> { %>
                        <% if (element.username != session.username) { %>
                          <option value="<%= element.username %>">
                            <%= element.username %>
                          </option>
                        <% } %>
                      <% }) %>
                    </select>
                  </div>
                  <div class="col-md-12 mt-3 text-end">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                  </div>
                </form>

                <!-- Formulaire pour supprimer le groupe -->
                <form action="/update" method="post" class="row mt-3">
                  <input type="hidden" name="ref" value="supprimer_groupe">
                  <div class="col-md-12 mt-3 text-start">
                    <button type="submit" class="btn btn-danger">Supprimer le groupe</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>


      </main>

      <footer>
      </footer>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

      <style type="./css/my_css.css">
      </style>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
  </body>

  <!--Modal-->
  <%- include('../partials/footer') %>