
<% if (listeTransaction != null) { %>
    <% listeTransaction.forEach(element => { %>
        <div class="container w-75 bg-light">
            <div class="row center p-2 m-3">
                <div class="col">
                    <% if (element.username == session.username) { %>
                        <h5> Tu as payé <%= element.price %> €. Libeller "<%= element.description %>"</h5>
                    <% } else { %>
                        <h5> <a href="./vue.js">
                                <%= element.user %>
                            </a> a payé <%= element.price %> €. Libeller "<%= element.description %>"</h5>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="border-top w-50 m-auto"></div>
    <% }) %>
<% } else { %>
    <div class="container w-75 bg-light">
        <div class="row center p-2 m-3">
            <div class="col">
                <h5>Aucune transaction dans se groupe</h5>
            </div>
        </div>
    </div>
    <div class="border-top w-50 m-auto"></div>
<% } %>
